.client-area {
    padding: 13px;

    &__form {
        display: flex;
        text-align: center;
    }

    &__input {
        flex:1; /*So this part will take over all available extra spaces.*/
        text-align: center;
    }

    &__error {
        color: red;
    }

    &__content_area {
      
        &_h3{
            text-align: center;
            color: $aubergine;
            margin-top:0.5rem;
            margin-bottom: 0.5rem;
        }
        &_p {
            text-align:center;
            color: $teal;
            margin-top:0.5rem;
            margin-bottom: 0.5rem;
        }
    }
}

